<div class="desktop1-container">
  <div class="desktop1-desktop1">
    <img
      src="/assets/playground_assets/rectangle114-dzdl-200h.png"
      alt="Rectangle114"
      class="desktop1-rectangle1"
    />
    <span class="desktop1-text"><span>admin@finmas.in</span></span>
    <div class="desktop1-group1">
      <img
        src="/assets/playground_assets/rectangle774-rozj.svg"
        alt="Rectangle774"
        class="desktop1-rectangle7"
      />
      <img
        src="/assets/playground_assets/union75-mxzn.svg"
        alt="Union75"
        class="desktop1-union"
      />
      <img
        src="/assets/playground_assets/subtract76-n4v.svg"
        alt="Subtract76"
        class="desktop1-subtract"
      />
      <img
        src="/assets/playground_assets/rectangle377-ejem-200h.png"
        alt="Rectangle377"
        class="desktop1-rectangle3"
      />
      <img
        src="/assets/playground_assets/rectangle478-k8t.svg"
        alt="Rectangle478"
        class="desktop1-rectangle4"
      />
      <img
        src="/assets/playground_assets/rectangle579-4p4a.svg"
        alt="Rectangle579"
        class="desktop1-rectangle5"
      />
      <img
        src="/assets/playground_assets/intersect710-3ixw.svg"
        alt="Intersect710"
        class="desktop1-intersect"
      />
    </div>
    <span class="desktop1-text2">
      <span>Welcome to FINMAS Financial Services Pvt Ltd</span>
    </span>
    <div class="desktop1-group2">
      <img
        src="/assets/playground_assets/iconfacebook723-tb5q.svg"
        alt="iconfacebook723"
        class="desktop1-iconfacebook"
      />
      <img
        src="/assets/playground_assets/iconinstagram1014-a9g.svg"
        alt="iconinstagram1014"
        class="desktop1-iconinstagram"
      />
      <img
        src="/assets/playground_assets/iconlinkedin782-jnzn.svg"
        alt="iconlinkedin782"
        class="desktop1-iconlinkedin"
      />
      <img
        src="/assets/playground_assets/icontwitter106-bd9h.svg"
        alt="icontwitter106"
        class="desktop1-icontwitter"
      />
    </div>
  </div>
</div>