.App {
  text-align: center;
}

.Group2 a{
  padding-left: 16px;
  color: white;
}

.rectangle1:hover{
  background: linear-gradient(90deg, rgba(240, 10, 10, 1) 50%, rgba(12, 6, 82, 1) 50.00060416667541%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#box-footer{
    background: rgba(0, 0, 0, 1);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: '800px';
}


#box-footer::before{
  background-image: url('assets/images/ManLaptop.jfif');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.15;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
